In [1]:
import sys
sys.path.insert(0, "../")
import dolphindb as ddb 
import numpy as np
from factor_cal.feature import features as fe
from factor_cal.config_loader import basic_config as cfg
from factor_cal.utils import ddb_utils as du
from factor_cal.utils import tools as tl

# read config file
config = cfg.BasicConfig('config/config.yml')
# obtain the ddb session
s = du.DDBSessionSingleton().session

before 一共占用82.50MB

In [8]:
features = fe.Features(config)

In [9]:
tl.show_info("before")
data = features.get_feature('open')
tl.show_info("after")

before 一共占用98.70MB
Loading [feature]open from DolphinDB server
after 一共占用98.79MB

In [11]:
data2 = features.get_feature('en_buy_n')
tl.show_info("after")

after 一共占用83.34MB

In [8]:
data3 = features.get_feature('close')
tl.show_info("after")

after 一共占用83.28MB

In [10]:
data3 = features.get_feature('high')
tl.show_info("after")

after 一共占用83.34MB

In [8]:
tl.show_info("after")

after 一共占用84.48MB

In [5]:
s.run("objs(true)")

           name   type   form  rows  columns   bytes  shared extra owner
0  t_trade_info  BASIC  TABLE   602       49  234256   False

In [13]:
t = s.loadTable(tableName='t_trade_info')
a = t.exec('open').pivotby('trade_time', 'security_code')

In [17]:
b = a.toDF()

In [ ]:
tmp_feat = config['features'][0]
ddb_name = tmp_feat['ddb_name']
tb_feat = tmp_feat['tb_features']

tb_name = 'trade_info'
time_col = tb_feat[tb_name]['time_col']
sec_col = tb_feat[tb_name]['sec_col']

In [ ]:
tables = fe.DDB_Table(ddb_name, tb_name, time_col, sec_col)

In [ ]:
tables.get_table(config['start_time'], config['end_time'], ('000002', '000004'))

In [ ]:
a = {"a": 2}
c = a.get('b', None)
c is None

In [ ]:
s.run('select * from t_trade_info')

In [ ]:
ddb_name, tb_feat

In [ ]:
print(ddb_name)
# create a dictionary to store features
index = 0
feat_dict = {}
for tb in tb_feat.keys():
    print("Table Name: ", tb)
    ddb_tb = s.loadTable(dbPath=ddb_name, tableName=tb)
    
    features = tb_feat[tb]['feat_cols']
    sec_col = tb_feat[tb]['sec_col']
    time_col = tb_feat[tb]['time_col']
    print("Features contain: ", list(features.keys()))

    # read features from DolphinDB in a panel format
    for feat_nkname, feat_colname in features.items():
        index += 1
        if (index > 1):
            break
        print("Feature Name: ", feat_nkname, flush=True)
        feat_df = ddb_tb.select(feat_colname).pivotby(time_col, sec_col).toDF()
        feat_dict[feat_nkname] = feat_df
        # print(feat_df.head(1), flush=True)

In [ ]:
print(ddb_name)
# create a dictionary to store features
index = 0
feat_dict = {}
for tb in tb_feat.keys():
    print("Table Name: ", tb)
    ddb_tb = s.loadTable(dbPath=ddb_name, tableName=tb)
    
    features = tb_feat[tb]['feat_cols']
    sec_col = tb_feat[tb]['sec_col']
    time_col = tb_feat[tb]['time_col']
    print("Features contain: ", list(features.keys()))

    # read features from DolphinDB in a panel format
    for feat_nkname, feat_colname in features.items():
        index += 1
        if (index > 2):
            break
        print("Feature Name: ", feat_nkname, flush=True)
        feat_df = ddb_tb.select(feat_colname).pivotby(time_col, sec_col).toDF()
        feat_dict[feat_nkname] = feat_df
        # print(feat_df.head(1), flush=True)

In [ ]:
tb = 'trade_info'
s.run(f'select close from loadTable("{ddb_name}", "{tb}") pivot by {time_col}, {sec_col}')

In [ ]:
# import sys
# print(sys.getsizeof(feat_dict['open']) / 1024) # KB
# print(sys.getsizeof(feat_dict['open']) / 1024 / 1024) # MB
# print(sys.getsizeof(feat_dict['open']) / 1024 / 1024 / 1024) # GB

In [ ]:
f'select close from loadTable({ddb_name}, {tb}) pivot by {time_col}, {sec_col}'

In [ ]:
ddb_name, tb

In [ ]:
a = s.loadTable(dbPath=ddb_name, tableName=tb)

In [ ]:
b = a.select('close').where('trade_time < 2023-04-20T09:30:00.000')

In [ ]:
trade = s.loadTableBySQL(tableName="trade_info", dbPath="dfs://CROSS_SECTION_6sec", sql="select * from trade_info where second(trade_time)<09:50:00", tableAliasName='t1')

In [ ]:
trade

In [ ]:
import ddb_utils as du

In [ ]:
s = du.DDBSessionSingleton().session

In [ ]:
table = s.run('select * from loadTable("dfs://CROSS_SECTION_6sec", "trade_info") where second(trade_time) between 09:30:06 and 09:30:18 limit 10')

In [ ]:
a = s.loadTable("trade_info", "dfs://CROSS_SECTION_6sec")
b = a.select("*").where("second(trade_time) between 09:30:06 and 09:30:18").showSQL()

In [ ]:
s.run('tmp_b = ' + b)

In [ ]:
s.run('objs(true)')